@page "/Albums"

<h3>Albums</h3>

<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Album ID</th>
            <th scope="col">Title</th>
            <th scope="col">Artist ID</th>
            <th scope="col">Artist Name</th>
            <th scope="col">Tack Count</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        </tr>
    </tbody>

</table>

@code {
    private AlbumsViewModel albumsViewModel = null;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        albumsViewModel = new AlbumsViewModel();
    }
}
